/* || Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif, serif;
}

:root {
  --black: #000;
  --white: #fff;
  --grey950: #2f2f2f;
  --grey400: #adb5be;
  --grey200: #dfdee0;
  --purple950: #21092f;
  --purple500: #d53aff;
  --orange400: #ff834a;
  --blue400: #47a2ff;
  --red: #ff5050;
  --gradient1: linear-gradient(#fff, #d2d3d9);
  --gradient2: linear-gradient(#6348fe, #610595);
}

/* || Main */

.card-image-container {
  background-image: url(./images/bg-main-mobile.png);
  height: 15rem;
  position: relative;
  width: 100%;
}

.card-back-image {
  height: auto;
  left: 8rem;
  position: absolute;
  width: 17rem;
  top: 3rem;
}

.card-front-container {
  background-image: url(./images/bg-card-front.png);
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.4rem;
  left: 2rem;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 17rem;
  top: 9rem;
  z-index: 2;
}

.circle-container {
  align-items: center;
  display: flex;
}

.card-logo {
  height: auto;
  width: 3rem;
}

.card-number {
  color: var(--white);
  font-size: 1.2rem;
  margin-block-end: 1rem;
}

.card-name-exp-details {
  align-items: center;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

/* Form */

.card-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
}

label {
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-block-end: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 0.1rem solid var(--grey400);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  margin-block-end: 2rem;
  padding: 0.5rem 1rem;
}

.card-form-exp-cvc-container {
  display: flex;
  justify-content: space-between;
}

.cvc-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cvc-label {
  margin-block-end: 1rem;
}

.exp-input-container {
  margin-top: 1rem;
}

.exp-input {
  width: 5rem;
  cursor: pointer;
}
.cvc-input {
  width: 7rem;
  cursor: pointer;
}

button {
  background-color: var(--purple950);
  border-radius: 0.5rem;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem;
}

/* Media Queries */

@media screen and (min-width: 51.25rem) {
  .card-image-container {
    background-image: url(./images/bg-main-desktop.png);
    background-size: cover;
    height: 25rem;
  }

  .card-form-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .card-back-image {
    height: 15rem;
    width: 27rem;
    left: 16rem;
    top: 7rem;
  }

  .card-front-container {
    padding: 2rem;
    top: 16rem;
    left: 8rem;
    height: 15rem;
    width: 27rem;
  }

  .card-form-container {
    padding-top: 14rem;
  }

  .card-logo {
    width: 4rem;
  }

  .card-number {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  .card-name-exp-details {
    font-size: 1rem;
    letter-spacing: 0.07rem;
  }

  form {
    width: 70%;
  }
}

@media screen and (min-width: 90rem) {
  main {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
  }

  .card-logo {
    width: 6rem;
  }

  .card-number {
    font-size: 2rem;
    margin-block-end: 2rem;
  }

  .card-name-exp-details {
    font-size: 1.2rem;
  }

  .card-image-container {
    height: 100vh;
  }

  .card-back-image {
    height: 18rem;
    width: 30rem;
    left: 24rem;
    top: 35rem;
  }

  .card-front-container {
    padding: 2rem;
    top: 12rem;
    left: 18rem;
    height: 18rem;
    width: 30rem;
  }

  .card-form-container {
    height: 100vh;
    padding: 0 0 0 20rem;
  }

  form {
    width: 60%;
  }
}
