/* || Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif, serif;
}

:root {
  --black: #000;
  --white: #fff;
  --grey950: #2f2f2f;
  --grey400: #adb5be;
  --grey200: #dfdee0;
  --purple950: #21092f;
  --purple500: #d53aff;
  --orange400: #ff834a;
  --blue400: #47a2ff;
  --red: #ff5050;
  --gradient1: linear-gradient(#fff, #d2d3d9);
  --gradient2: linear-gradient(#6348fe, #610595);
}

/* || Main */

.card-image-container {
  background-image: url(./images/bg-main-mobile.png);
  height: 15rem;
  position: relative;
  width: 100%;
}

.card-back-image {
  height: auto;
  left: 8rem;
  position: absolute;
  width: 17rem;
  top: 3rem;
}

.card-front-container {
  background-image: url(./images/bg-card-front.png);
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.4rem;
  left: 2rem;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 17rem;
  top: 9rem;
  z-index: 2;
}

.circle-container {
  align-items: center;
  display: flex;
}

.circle-big {
  background-color: var(--white);
  border: 0.1rem solid var(--white);
  border-radius: 50%;
  height: 1.5rem;
  margin-inline-end: 0.5rem;
  width: 1.5rem;
}

.circle-small {
  border: 0.1rem solid var(--white);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.card-number {
  color: var(--white);
  font-size: 1.2rem;
  margin-block-end: 1rem;
}

.card-name-exp-details {
  align-items: center;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}
